# LISTS: Ordered, mutable collections of elements

In [31]:
my_list = [1, 3, 3.5, 'Ngoc', True]
type(my_list)

list

In [32]:
my_list[:3]

[1, 3, 3.5]

In [33]:
my_list[-2:]

['Ngoc', True]

In [34]:
my_list[3] = "Quynh"
my_list

[1, 3, 3.5, 'Quynh', True]

In [35]:
my_list.append([8, 'Tri'])
my_list

[1, 3, 3.5, 'Quynh', True, [8, 'Tri']]

In [36]:
my_list.remove([8, 'Tri'])
my_list

[1, 3, 3.5, 'Quynh', True]

In [37]:
my_list.remove(3.5)
my_list

[1, 3, 'Quynh', True]

In [38]:
my_list.append(2)
my_list

[1, 3, 'Quynh', True, 2]

In [39]:
my_list.remove(2)
my_list

[1, 3, 'Quynh', True]

In [40]:
my_list.pop(1)
my_list

[1, 'Quynh', True]

In [41]:
my_list.pop(-1)
my_list

[1, 'Quynh']

In [26]:
my_list.pop(2)
my_list

[1, True, 2]

# TUPLES: ordered, non-mutable collection of elements

In [48]:
my_tuple = ("apple", "banana", "cherry", 3.14)
my_tuple

('apple', 'banana', 'cherry', 3.14)

In [49]:
my_tuple[1]

'banana'

In [42]:
my_tuple[1] = "pomelo"
my_tuple

TypeError: 'tuple' object does not support item assignment

In [43]:
type(my_tuple)

tuple

# Dictionary: unordered, mutable collection of key-value pairs

In [55]:
my_dict = {
    "name": "Ngoc",
    "age": 30,
    "location": "Binh Thanh"
}
my_dict

{'name': 'Ngoc', 'age': 30, 'location': 'Binh Thanh'}

In [56]:
my_dict["location"] = "HCM"
my_dict

{'name': 'Ngoc', 'age': 30, 'location': 'HCM'}

In [57]:
my_dict["location"] = my_tuple
my_dict

{'name': 'Ngoc', 'age': 30, 'location': ('apple', 'banana', 'cherry', 3.14)}

In [58]:
my_dict1 = {
    "name": "Ngoc",
    "age": 30,
    "location": "Binh Thanh"
}
my_dict2 = {
    "name": "Tri",
    "age": 34,
    "location": "Binh Thanh"
}

my_dict_comb = [my_dict1, my_dict2]
my_dict_comb

[{'name': 'Ngoc', 'age': 30, 'location': 'Binh Thanh'},
 {'name': 'Tri', 'age': 34, 'location': 'Binh Thanh'}]

In [54]:
my_dict[0]

{'name': 'Ngoc', 'age': 30, 'location': 'Binh Thanh'}

In [ ]:
my_dict

# Sets: unordered, mutable collection of unique elements

In [71]:
my_set = {1, 2, 3, 4, 5, "Ngoc"}
my_set

{1, 2, 3, 4, 5, 'Ngoc'}

In [72]:
my_set = {1, 2, 3, 4, 5, 4, 3, 6}
my_set

{1, 2, 3, 4, 5, 6}

In [73]:
for i in my_set:
    print(i)

1
2
3
4
5
6

In [74]:
my_set.discard(2)
my_set

{1, 3, 4, 5, 6}

In [75]:
my_set.add(8)
my_set

{1, 3, 4, 5, 6, 8}

In [76]:
3 in my_set

True

In [77]:
my_set_list = list(my_set)
my_set_list

[1, 3, 4, 5, 6, 8]

In [78]:
min(my_set)

1

In [79]:
my_dict1 = {
    "name": "Ngoc",
    "age": 30,
    "location": "Binh Thanh"
}
my_dict2 = {
    "name": "Tri",
    "age": 34,
    "location": "Binh Thanh"
}

my_dict_comb = [my_dict1, my_dict2, my_dict]
my_dict_comb

[{'name': 'Ngoc', 'age': 30, 'location': 'Binh Thanh'},
 {'name': 'Tri', 'age': 34, 'location': 'Binh Thanh'},
 {'name': 'Ngoc', 'age': 30, 'location': ('apple', 'banana', 'cherry', 3.14)}]

In [80]:
my_dict_comb[2]["location"][0]

'apple'

In [81]:
my_dict_t = {
    "name": "Ngoc",
    "name": "Tri",
    "age": 30,
    "location": "Binh Thanh"
}
my_dict_t["name"] #the last one wins

'Tri'

In [82]:
my_dict_t.keys()

dict_keys(['name', 'age', 'location'])

In [83]:
my_dict_t.values()

dict_values(['Tri', 30, 'Binh Thanh'])

# Control flows statements in Python

In [88]:
if 10>80:
    print("Ten is greater than eighty")
elif "A" == "B":
    print("equal")
print("Ten is NOT greater than eighty")

Ten is NOT greater than eighty

In [90]:
a = 10
b = 5
if a > b:
    print(f"{a} is greater than {b}")
elif a==10:
    print(f"{a} is ten")

10 is greater than 5

Please input a random number 5

In [96]:
#Exercise 1
a = int(input("Please input a random number"))
if a > 0:
    print("Positive")
elif a == 0:
    print("Zero")
else:
    print("Negative")

Please input a random number -2

Negative

In [101]:
#Exercise 2
'''Exercise 2: Nested Conditions
 • Ask the user to input their age.
 • If the age is less than 13, print "Child".
 • If the age is between 13 and 19, print "Teenager".
 • If the age is between 20 and 65, print "Adult".
 • If the age is over 65, print "Senior"
 '''
age = int(input("Please input your age"))
if age <13:
    print("Child")
#elif age >= 13 and age <= 19:
#elif 13 <= age <= 19:
elif age <=19:
    print("Teenager")
elif age >= 20 and age <= 65:
    print("Adult")
else:
    print("Senior")

Please input your age 15

Teenager

In [103]:
#Exercise 3
'''Exercise 3: Multiple Conditions
 • Create a variable to store a grade (0-100).
 • Use anif-elif-else chain to determine the letter 
grade (A, B, C, D, F).
 • A: 90-100
 • B: 80-89
 • C: 70-79
 • D: 60-69
 • F: Below 60
 • Print the letter grade.
 '''
grade = int(input("Pls input score"))
if grade < 60:
    score = "F"
elif grade <70:
    score = "D"
elif grade <80:
    score = "C"
elif grade <90:
    score = "B"
else:
    score = "A"
print(f"your score is {score}")

Pls input score 67

your score is D

In [105]:
a = input("Pls input a boolean value")
b = input("Pls input a boolean value")
a and b
#A or B
#A + B

Pls input a boolean value True
Pls input a boolean value False

'False'

In [115]:
def xor(a:bool, b:bool):
    if a and b:
        return False
    elif a and not b:
        return True
    elif not a and not b:
        return True
    else:
        return False

In [116]:
xor(True, False)

True

In [110]:
def xor(a:bool, b:bool):
    if a != b:
        return True
    else:
        return False

In [111]:
xor(True, False)

True

In [112]:
def xor(a:bool, b:bool):
    return a != b
xor(True, False)

True

In [114]:
a = True
b = False
a != b

True

# Loops

In [117]:
range(5)

range(0, 5)

In [118]:
for i in range(5):
    print(i)

0
1
2
3
4

In [119]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

In [122]:
for n in [0, 3, 4, 2]:
    print(n)

0
3
4
2

In [123]:
counter = 0
while counter <5:
    print(counter)
    counter +=1

0
1
2
3
4

In [124]:
counter = 0
while counter <5:
    print(counter)
    counter += 1
    if counter ==3:
        break
print(counter)

0
1
2
3

In [125]:
multi_dim_list = [
    [1,2,3],
    [4,5,6]
]
multi_dim_list

[[1, 2, 3], [4, 5, 6]]

In [128]:
multi_dim_list[1][2]

6

In [129]:
for i in multi_dim_list:
    for j in i:
        print(j)

1
2
3
4
5
6

In [130]:
for i in [0,1]:
    for j in [0,1,2]:
        print(multi_dim_list[i][j])

1
2
3
4
5
6

In [ ]:
#write function that ask user to enter an even number, if user enter not even number, or text, ask for another, if user enter text, tell them to enter a number - not text

In [215]:
can_exit = False
while not(can_exit):
    a = input("Pls input an even number")
    if a.isnumeric():
        if int(a)%2 ==0: 
            print("This is an even number")
            can_exit = True
        else:
            print("This is not an even number")
    else:
        print(f"{a} is not a number")

Pls input an even number 5

This is not an even number

Pls input an even number 3.5

3.5 is not a number

Pls input an even number 4

This is an even number